body {
    font-family: sans-serif;
    background-color: #333333;
    margin:20px;
}


h1,
h2,
h3,
h4 {
    color: #ffffff;
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 2;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

p,
dd,
dt {
    color: #cccccc;
}

a {
    text-decoration: none;
    color: #ff0000;
    font-size: .75em;
}

span
, li {
    color: #ffffcc;
}

table {
    color: #ffffcc;
}

.pane {
    position: absolute;
    left: 10%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333
}

.pane_sotto {
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    
}

.header {
    left: 50%;
    text-align: center;
}

.name {
    width: 50%;
    display: inline-block;
    float: left;
}

.description {}

.price {
    text-align: right;
    width: 50%;
    float: right;
}

.editdeletepane {}

.flash {
    background: #000099;
    color:#000099
}

.button1{
    text-align:center;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:auto;
    display:block;
    cursor:pointer;
    clear:top;
}

#inner1{
float:left; 
}
#inner2{
float:left; 
clear: left;
} 