<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <h1>Progetto RasPierre!</h1>
    <p>Bentornato Boss, scegli cosa vuoi fare...</p>
    
    <!-- Messaggi flash -->
    <div class='flash'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    </div>
        
    <div class="pane">
        <div class="pane_sotto">
            <p>Lo sport fa bene: piscina!</p>
            <a class="button1" href='{{url_for('piscina_flask.piscinaMain')}}'>Vai</a>
        </div><br>
        
        <div class="pane_sotto">
            <p>Ci dobbiamo salutare...</p>
            <a class="button1" href='{{url_for('login_flask.logout')}}'>Logout</a>"
        </div>
    </div>

</body>

</html>
